#sanastorm-popup {
  width: 330px;
}

.popup-title {
  padding: 1px;
  background: #4a8de4;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
}

.sanastorm-options {
  padding: 5px 0;
}

.verb-options,
.non-verb-options {
  margin-left: 10px;
}
