.sanastorm-description {
  padding: 4px;
  margin-right: 6px;
  width: fit-content;
  font-size: 16px;
}

.sanastorm-singular,
.sanastorm-verb-description,
.sanastorm-plural {
  background: #707070;
  color: white;
}

.sanastorm-pos,
.sanastorm-case {
  background: #e4e7f6;
  color: #444444;
}
