.sanastorm-description {
  padding: 4px;
  margin-top: 6px;
  margin-right: 6px;
  width: fit-content;
  font-size: 16px;
}

.sanastorm-singular,
.sanastorm-verb-description,
.sanastorm-plural {
  background: #707070;
  color: white;
}

.sanastorm-pos,
.sanastorm-case {
  background: #2195f1;
  color: white;
}
