.sanastorm-title {
  padding-bottom: 5px;
}

.sanastorm-english {
  padding-top: 5px;
}

.sanastorm-word-descriptions {
  display: flex;
  margin-top: 6px;
}

.sanastorm-title-text {
  font-size: 20px;
}

.sanastorm-english-title,
.sanastorm-finnish-title {
  color: #636363;
  font-size: 11px;
  margin: 0;
  padding-bottom: 5px;
}
