#sanastorm-inflections {
  font-size: 16px;
}

.sanastorm-inflection {
  display: flex;
  margin: 4px 0;
}

.sanastorm-inflection-type {
  width: 50%;
  float: left;
}

.sanastorm-inflection-value {
  width: 50%;
  float: right;
}

.sanastorm-inflection-type .verb {
  width: 60%;
  float: left;
}

.sanastorm-inflection-value .verb {
  width: 40%;
  float: right;
}

.sanastorm-selected {
  font-weight: bold;
}
